<html>
    <head>
        <link rel="stylesheet" href="../css/cart.css">
      <section>
        <div class="container">   
            <a href="../index.htm"><img src="../pictures/logo.png" width="120" height="120" ></a>
            <nav>
                <ul>
                   <li><a href="view/relog.html">Reģistrēties/Pieslēgties</a></li>
                   <li><a href="view/contact.html">Kontaktinformācija</a></li> 
                   <li><a href="view/pasutisana.html">Pasūtīšana</a></li> 

        <title> Zelta rinķīši</title>
        <link rel="stylesheet" href="../css/auskari1.css">
    </head>
    <body>
        <div class="main"><br> 
       <p> <a href="../views/auskari.htm"><img src="../pictures/retur.png " style="float:left; width:50px; height:50px"></a></p>
  <br>
  <br>
         <br>
        <div class="content">
        <br>
        <h2 style="text-align: center;"><img src="../pictures/1.png" style="float: left; width:300px;"> Zelta rinķīši</h2>
        <p style="text-align: center;" > Cena:30€ </p>
        <br>
        <p style="text-align: center;">Mirdzoši, gludi auskari, kas ir ar </p>
        <p style="text-align: center;"> rokām izgatavoti no 10 karātu zelta.</p>
        <p style="text-align: center;"> To diametrs sastāv no 31.00 mm.</p> 
        <p style="text-align: center;">Šie zelta auksari ideāli </p> 
        <p style="text-align: center;">piestāv jebkuram izskatam.</p> 
        <br>
        <br>
        <p style="text-align: center;"><a hreft="iegadesinfo.htm"><button>Apmaksāt</button></a></p>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
    </body>
</html>