<html>
    <link rel="stylesheet" href="../css/cart.css" >
    <section>
      <div class="container">
          <nav>
            
              <ul>
                <li> <a href="../index.html"><img src="../img/logo.png" width="120" height="120" ></a></li>
                 <li><a href="../view/reglog.html">Konts</a></li>
                 <li><a href="../view/contact.html">Kontaktinformācija</a></li> 

      <title> Zelta kaklarota</title>
      <link rel="stylesheet" href="../css/kaklarotas.css">
  </head>
  <body>
      <div class="main"><br> 
     <p> <a href="../index.html"><img src="../img/retur.png" style="float:left; width:50px; height:50px"></a></p>
<br>
       <br>
      <div class="content">
      <br>
      <h2 style="text-align: center;"><img src="../img/kaklarotas2.jpg" style="float: left; width:300px;"> Zelta kaklarota</h2>
      <p style="text-align: center;" > Cena:20€ </p>
      <br>
      <p style="text-align: center;">Mirdzoša, skaista kaklarota, kas ir ar </p>
      <p style="text-align: center;"> rokām izgatavota no 10 karātu zelta.</p>
      <p style="text-align: center;">Šī zelta kaklarota ir lieliska un </p> 
      <p style="text-align: center;">piestāv jebkuram.</p> 
      <br>
     <p> <a href="../view/pasutisana.html"><button>Apmaksāt</button></a></p>
      <br>
  </div>
</div>
  </body>
</html>
