<html>
  <head>
          <meta name="viewport" content="width-device-width, initial-scale=1.0">
          <title>Kaklarotas</title>
          <link rel="stylesheet" href="css/kaklarota.css">
      </head>
      <body>
          <div class="container">
              <nav>
                  <a href="../index.htm"><img src="picture/logo.png" class="logo"></a>
                  <ul>
                     <li><a href="signup.html">Reģistrēties/Pieslēgties</a></li>
                     <li><a href="contact.html">Kontaktinformācija</a></li> 
                     
                     <li><a href="">Pasūtīšana</a></li>  
                  </ul>
      
              </nav>
              <br>
              
              <div style="padding: left 100%;">
              </div>
                  </style>
                </head>
                <link rel="stylesheet" href="css/style.css">
 <img src="../picture/oh3.jpg" style="width: 50%;"  class="center">
    <a href="../index.html">atpakaļ</a>
</body>
</html>