
<html>
    <head>
        <link rel="stylesheet" href="../css/cart.css">
      <section>
        <div class="container">
            <nav>
              
                <ul>
                  <li> <a href="../index.htm"><img src="../picture/logo.png" width="120" height="120" ></a></li>
                   <li><a href="view/signup.html">Reģistrēties/Pieslēgties</a></li>
                   <li><a href="view/contact.html">Kontaktinformācija</a></li> 
                 

        <title> Zelta rinķīši</title>
        <link rel="stylesheet" href="../css/auskari1.css">
    </head>
    <body>
        <div class="main"><br> 
       <p> <a href="../rokassprādzes.html"><img src="../picture/retur.png " style="float:left; width:50px; height:50px"></a></p>
  <br>
         <br>
        <div class="content">
        <br>
        <h2 style="text-align: center;"><img src="../picture/oh3.jpg" style="float: left; width:300px;"> Apzeltīta rokassprādze</h2>
        <p style="text-align: center;" > Cena:20€ </p>
        <br>
        <p style="text-align: center;">Angemiel vīriešu tērauda, zelta un</p>
        <p style="text-align: center;">sudraba krāsas dizaina vīriešu rokassprādze</p>
        <p style="text-align: center;">Materiāls:	Nerūsējošais tērauds - silikons</p> 
        <p style="text-align: center;">Garums:	Savietojams ar 20 - 21 - 22 cm</p> 
        <p style="text-align: center;">Svars:	21,5 g</p> 
        <br>
       <p> <a href="../views/grozs.html"><button> Apmaksa</button></a></p>
        <br>
    </div>
</div>
    </body>
</html>