<html>
  <head>
      <link rel="stylesheet" href="../css/cart.css">
    <section>
      <div class="container">
        <a href="../index.htm"><img src="../img/logo.png" width="120" height="120" ></a>
          <nav>
              <ul>
                 <li><a href="view/relog.html">Reģistrēties/Pieslēgties</a></li>
                 <li><a href="view/contact.html">Kontaktinformācija</a></li> 
                 <li><a href="view/pasutisana.html">Pasūtīšana</a></li> 
    <title>Auskari </title>
  <link rel="stylesheet" href="../css/auskari.css">
</head>
  <body>
<div class="main">

<h1>Auskari</h1>
<hr>
<div class="row">
    <div class="column">
    <div class="content">
      <a href="../view/auskari1.html">
        <div class="banner-text">  <button>
      <img src="../img/auskari1.png"  style="width:100%">
      <h3>Zelta rinķīši</h3>
      <p>Cena:30€</p>
    </button>
  </div>
    </a>
    </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="../view/auskari2.html">
          <div class="banner-text">  <button>
        <img src="../img/auskari3.jpg"  style="width:95%">
        <h3>Dimanta nagliņauskari</h3>
        <p>Cena:35€</p>
      </button>
    </div>
      </a>
      </div>
      </div>
      <div class="column">
        <div class="content">
          <a href="../view/auskari3.html">
            <div class="banner-text">  <button>
          <img src="../img/auskari11.jpg"  style="width: 90%">
          <h3>Sudraba rinķīši</h3>
          <p>Cena:20€</p>
        </button>
      </div>
        </a>
        </div>
        </div>
        <div class="column">
          <div class="content">
            <a href="../view/auskari6.html">
              <div class="banner-text">  <button>
            <img src="../img/auskari7.jpg"  style="width:90%">
            <h3>Gari sudraba auskari</h3>
            <p>Cena:25€</p>
          </button>
        </div>
          </a>
          </div>
          </div>
   </div>
</div>
</body>
</html>
