<html>
    <head>
        <link rel="stylesheet" href="../css/cart.css">
      <section>
        <div class="container">
            <a href="../index.htm"><img src="../img/logo.png" width="120" height="120" ></a>
            <nav>
                <ul>
                   <li><a href="view/relog.html">Reģistrēties/Pieslēgties</a></li>
                   <li><a href="view/contact.html">Kontaktinformācija</a></li> 
                   <li><a href="view/pasutisana.html">Pasūtīšana</a></li> 

        <title>  Sudraba rinķīši</title>
        <link rel="stylesheet" href="../css/auskari1.css">
    </head>
    <body>
        <div class="main"><br> 

       <p> <a href="../view/auskari.htm"><img src="../img/retur.png " style="float:left; width:50px; height:50px"></a></p>

  <br>
         <br>
         <br>
        <div class="content">

        <h2 style="text-align: center;"><img src="../img/auskari11.jpg" style="float: left; width:300px;"> Sudraba rinķīši</h2>

        <p style="text-align: center;" > Cena:20€ </p>
        <br>
        <p style="text-align: center;">Mirdzoši sudraba  auskari, kas ir ar rokām </p>
        <p style="text-align: center;">  izgatavoti no 10 karātu sudraba.</p>
        <p style="text-align: center;"> To diametrs sastāv no 25.00 mm.</p> 
        <p style="text-align: center;">Šie sudraba auksari ideāli </p> 
        <p style="text-align: center;">piestāv jebkuram izskatam.</p> 
        <br>
      <br>
      <p style="text-align: center;"><a hreft="iegadesinfo.htm"><button>Apmaksāt</button></a></p>
        <br>
      <br>
        <br>
        <br>
    </div>
</div>
    </body>
</html>