  <html>
    <head>

      <link rel="stylesheet" href="css/cart.css">
  </head>
      <body>
          <div class="container">
              <nav>
                <a href="../index.html"><img src="pictures/logo.png" width="120" height="120" ></a>
                  <ul>
                     <li><a href="view/signup.html">Reģistrēties/Pieslēgties</a></li>
                     <li><a href="view/contact.html">Kontaktinformācija</a></li> 
                     <li><a href="view/pasutisana.html">Pasūtīšana</a></li>
                  </ul>
                  
              
              
              
              
              </body>
</head>
<title>Kameé jewlery</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div style="padding: left 100%;">
</div>
    </style>
  </head>
  <link rel="stylesheet" href="css/style.css">
  
<div class="main">

  <div style="padding-left:16px">
  <h1>Kaklarotas</h1>
<hr>
<div class="row">
    <div class="column">
    <div class="content">
      <a href="views/kaklarotas.htm">
        <div class="banner-text">  <button>
      <img src="pictures/kaklarotas2.jpg"  style="width: 95%">
      <h3>Zelta kaklarota</h3>
      <p>Cena:20€</p>
    </button>
  </div>
    </a>
    </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="views/kaklarotas1.htm">
          <div class="banner-text">  <button>
        <img src="pictures/kaklarotas1.jpg"  style="width:95%">
        <h3>Zelta kaklarota</h3>
        <p>Cena:25€</p>
      </button>
    </div>
      </a>
      </div>
      </div>
      <div class="column">
        <div class="content">
          <a href="views/kaklarotas.htm">
            <div class="banner-text">  <button>
          <img src="pictures/kaklarotas3.jpg"  style="width: 95%">
          <h3>Pērļu kaklarota</h3>
          <p>Cena:20€</p>
        </button>
      </div>
        </a>
        </div>
        </div>
        <div class="column">
          <div class="content">
            <a href="views/kaklarotas.htm">
              <div class="banner-text">  <button>
            <img src="pictures/kaklarotas4.jpg"  style="width:95%">
            <h3>Sirsniņas kaklarota</h3>
            <p>Cena:15€</p>
          </button>
        </div>
          </a>
          </div>
          </div>
          <div class="column">
            <div class="content">
              <a href="views/kaklarotas.htm">
                <div class="banner-text">  <button>
              <img src="pictures/kaklarotas5.jpg"  style="width:95%">
              <h3>Apļa kaklarota</h3>
              <p>Cena:25€</p>
            </button>
          </div>
            </a>
            </div>
            </div>
            <div class="column">
              <div class="content">
                <a href="views/kaklarotas.htm">
                  <div class="banner-text">  <button>
                <img src="pictures/kaklarotas6.jpg"  style="width:95%">
                <h3>Zila pērļu kaklarota</h3>
                <p>Cena:20€</p>
              </button>
            </div>
              </a>
              </div>
              </div>
   </div>
</div>
</body>
</html>