
<html>
    <head>
        <link rel="stylesheet" href="../css/cart.css">
      <section>
        <div class="container">
            <nav>
              
                <ul>
                  <li> <a href="../index.htm"><img src="../picture/logo.png" width="120" height="120" ></a></li>
                   <li><a href="view/signup.html">Reģistrēties/Pieslēgties</a></li>
                   <li><a href="view/contact.html">Kontaktinformācija</a></li> 
                   

        <title> Zelta rinķīši</title>
        <link rel="stylesheet" href="../css/rokasspradze.css">
    </head>
    <body>
        <div class="main"><br> 
       <p> <a href="rokassprādzes.html"><img src="../picture/retur.png " style="float:left; width:50px; height:50px"></a></p>
  <br>
         <br>
        <div class="content">
        <br>
        <h2 style="text-align: center;"><img src="../picture/oh31.jpg" style="float: left; width:300px;"> Zelta rinķīši</h2>
        <p style="text-align: center;" > Cena:30€ </p>
        <br>
        <p style="text-align: center;">LouisWill sieviešu eleganta, sudrabota sirds formas kristāla rokassprādze </p>
        <p style="text-align: center;">  </p>
        <p style="text-align: center;"> Materiāli: sudrabs, kristāli</p> 
        <p style="text-align: center;"> Garums: 16cm + 3cm</p> 
        <p style="text-align: center;"> Svars: 6g </p> 
        <br>
       <p> <a href="../views/grozs.html"><button> Apmakasa</button></a></p>
        <br>
    </div>
</div>
    </body>
</html>

    